.container{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px 60px 0 60px;
}
.links{
  display:flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.main{
  width: 100vw;
  height: 100vh;
  background-image: url(../public/background.png);
  background-size: cover;
  position: absolute;
  top:0;
  z-index: -99;
}
.logo{
  font-size: 40px;
  font-weight: 700;
}